{% extends "base.html" %}
{% block main %}
<h1> Secure Page</h1>
{% include 'flash_messages.html' %}

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida erat aliquet lacinia sodales. Fusce sit amet dapibus dui, sed vehicula ante. Aliquam sit amet diam id lorem faucibus pharetra. Aenean pulvinar, elit non faucibus sagittis, metus neque iaculis lorem, ac sagittis eros nisi vitae nibh. Fusce nisi lorem, condimentum non cursus ac, pretium ut sem. Curabitur vehicula varius magna, ut fermentum augue ultrices ac. Nunc et vestibulum leo. Quisque dictum, eros eget porttitor euismod, lectus mi egestas est, a consectetur lectus nulla porttitor libero. Quisque consequat vitae eros eget blandit. Nullam laoreet, ligula tincidunt vehicula vulputate, risus odio tincidunt purus, sed egestas justo neque eget ligula. Pellentesque eu ligula congue ante placerat ullamcorper at vel nibh. Cras sodales eros sit amet convallis venenatis. Duis sit amet porta metus.</p>
{% endblock %}
